.section-wrapper {
    display: flex;
    /* елементи розташовані в колонку (зверху вниз) */
    flex-direction: column;
    /* вирівнювання по основній осі(main axis) - вертикалі */
    justify-content: center;
    /*вирівнювання елементів по ортогональній осі (cross axis) - горизонталі*/
    align-items: center;
    /* вирівнювання тексту по центру */
    text-align: center;
    /* властивість у flexbox, яка вказує елементу займати весь доступний вільний простір у контейнері */
    flex-grow: 1;
    gap: 40px;
    /* внутрішній відступ зверху */
    padding-top: 40px;
    /* внутрішній відступ знизу */
    padding-bottom: 15vh;
}

/* обмежувач ширини для тексту */
.text-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
}


.text-blue {
    color: var(--color-blue);
    font-weight: 200;
    letter-spacing: 0.25em;
}

.text-grey {
    color: var(--color-light-grey);
    font-weight: 200;
    letter-spacing: 0.05em;
}

.subtitle-grey {
    color: var(--color-medium-grey);
    font-weight: 200;
    letter-spacing: 0.25em;
}

.subtitle-white {
    color: var(--color-white);
    opacity: 0.7;
    font-weight: 200;
    letter-spacing: 0.25em;
}

.grey-section {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
}

.milk-section {
    background-color: var(--color-milk);
    color: var(--color-black)
}

/* картка з таймером */
.timer-card {
    background: linear-gradient(180deg, var(--color-blue-light) 0%, var(--color-blue) 100%);
    color: var(--color-white);

    width: 100%;
    max-width: 460px;
    padding: 60px 40px;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    box-shadow: 0 20px 40px var(--color-shadow);
}

.timer-card h6 {
    color: var(--color-white-70);
}

.timer-display {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    margin: 10px 0;
}

.text-tiny {
    font-size: 0.875rem;
    opacity: 0.6;
    margin-top: -10px;
}

.btn-start {
    background-color: var(--color-white-15);
    border: 1px solid var(--color-white-50);
    color: var(--color-white);

    padding: 12px 40px;
    border-radius: 100px;

    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-start:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}


.blue-panel {
    background: linear-gradient(180deg, var(--color-blue-light) 0%, var(--color-blue-light) 100%);
    color: var(--color-white);
    border-radius: 40px 40px 0 0;
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.panel-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 60px;
    padding-top: var(--ver-desk-pad);
    padding-bottom: 20vh;
}

.staggered-lines {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 800px;
    font-size: 1.25rem;
    font-weight: 200;
}


.align-left {
    align-self: flex-start;
    text-align: left;
}

.align-center {
    align-self: center;
    text-align: center;
}

.align-right {
    align-self: flex-end;
    text-align: right;
}

/* прибраний відступ знизу для 5 секції */
#s5 {
    padding-bottom: 0;
}

/* СТИЛІ ДЛЯ ФУТЕРА */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    padding-bottom: 20px;
    /* відступ для нижнього посилання */
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
}

.footer-text {
    font-weight: 200;
    line-height: 1.6;
    color: var(--color-white);
}

.link-start-again {
    color: var(--color-medium-grey);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}

/* ефект при наведенні на посилання */
.link-start-again:hover {
    color: var(--color-white);
}